# Flixbuzz Server Configuration Settings
PORT=5000

# MongoDB Atlas Credentials (matches client configuration profile)
MONGO_APP_ID=data-flixbuzz-pqrst
MONGO_API_KEY=65f012cf01bcdc6179abcf9e123abcde

# DoodStream API configurations
DOOD_API_KEY=569149jtwoitkto1zmwf1s
